<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mozi.pink.dolphin.mapper.TermMapper">

    <select id="getTermById" resultType="com.mozi.pink.dolphin.model.Term" parameterType="java.lang.Integer">
        select * from test.zsy_term where termId = #{termId}
    </select>

</mapper>
